<div class="container-fluid bg-light mat-elevation-z1 border-radius p-2 px-3">

    <div class="  d-flex align-items-center justify-content-between  ">
        <h3> عن الشركة</h3>
        <i class="fas fa-redo" style="color: var(--accent);" (click)="getAllAboutInfo()"></i>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row my-3 d-flex flex-wrap align-items-center justify-content-center">
        <ng-container *ngIf="aboutInfoService.aboutInfoList$.getValue().length; else elseTemplate;">
            <mat-card class="my-card" *ngFor="let aboutInfo of aboutInfoService.aboutInfoList$ | async">
                <img class="my-2" src="{{env.imgBaseUrl}}{{aboutInfo.logoUrl}}" onerror="this.src='../../../assets/images/icons/image-not-found.png'">

                <mat-card-title>{{aboutInfo.id}}</mat-card-title>
                <mat-card-subtitle>
                    <h4> {{aboutInfo.name}} &nbsp; </h4>
                </mat-card-subtitle>
                <mat-card-content>
                    <p>
                        {{aboutInfo.descriptionAr}} </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="accent" (click)="editAboutInfo(aboutInfo)">تعديل</button>
                    <button mat-stroked-button color="primary" (click)="aboutInfoActivation(aboutInfo)">
                        <span *ngIf="!aboutInfo.isActive"> تفعيل</span>
                        <span *ngIf="aboutInfo.isActive">الغاء تفعيل</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
        <ng-template #elseTemplate>
            <p>لا توجد بيانات مضافة</p>
        </ng-template>

    </div>
</div>