<div class="container-fluid bg-light mat-elevation-z1 border-radius p-2 px-3">

    <div class="  d-flex align-items-center justify-content-between  ">
        <h3> الفرق</h3>
        <i class="fas fa-redo" style="color: var(--accent);" (click)="getAllTeams()"></i>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-end align-items-center">
            <div class="d-flex align-items-center justify-content-center">

                <button mat-button (click)="teamView = 1" [ngStyle]="{'background-color': teamView == 1 ? 'var(--primary)' :'#fff'}"><i class="fa fa-th"></i></button>
                <button mat-button (click)="teamView = 2" [ngStyle]="{'background-color': teamView == 2 ? 'var(--primary)' :'#fff'}"><i class="fa fa-th-list"></i></button>

            </div>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <ng-container *ngIf="teamView === 1; else elseTemplate1">
        <div class="row my-3 d-flex flex-wrap align-items-center justify-content-center">
            <ng-container *ngIf="teamsService.teamsList$.value.length; else elseTemplate;">
                <mat-card class="my-card" *ngFor="let team of teamsService.teamsList$ | async">
                    <img class="my-2" src="{{env.imgBaseUrl}}{{team.imageUrl}}" onerror="this.src='../../../assets/images/icons/image-not-found.png'">
                    <mat-card-title>رقم : {{team.id}}</mat-card-title>
                    <mat-card-subtitle>
                        <h4> {{team.name}} &nbsp; </h4>
                    </mat-card-subtitle>
                    <mat-card-content>
                        <p> كود الفريق : {{team.teamCode}} </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-flat-button color="accent">تعديل</button>
                        <button mat-stroked-button color="warn">حذف</button>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
            <ng-template #elseTemplate>
                <p>لا توجد بيانات مضافة</p>
            </ng-template>

        </div>
    </ng-container>
    <ng-template #elseTemplate1>
        <div class="row">
            <table mat-table [dataSource]="teamsService.teamsList$.value" class=" mat-elevation-z8 ">

                <!--  Column -->
                <ng-container matColumnDef="photo">
                    <th mat-header-cell *matHeaderCellDef> الصور </th>
                    <td mat-cell *matCellDef="let element ">
                        <image-slider [width]="'50px !important'" [height]=" '50px !important' " [navs]="false" [imagesList]="[element.imageUrl]"></image-slider>
                    </td>
                </ng-container>

                <!--  Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> الاسم </th>
                    <td mat-cell *matCellDef="let element "> {{element.name}} </td>
                </ng-container>

                <!--  Column -->
                <ng-container matColumnDef="teamCode">
                    <th mat-header-cell *matHeaderCellDef> كود الفريق </th>
                    <td mat-cell *matCellDef="let element "> {{element.teamCode}} </td>
                </ng-container>


                <!--  Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> اجراءات </th>
                    <td mat-cell *matCellDef="let element ">
                        <i class="fa fa-trash-alt fa-xs text-light" style="background-color:var(--primary); padding: 7px; border-radius: 50%;" (click)="deleteTeam(element)"></i>
                        <i class="fa fa-pen fa-xs text-light mx-1" style="background-color:var(--accent); padding: 7px; border-radius: 50%;" (click)="updateTeam(element)"></i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
            </table>
        </div>
    </ng-template>



</div>