<ng-container *ngIf="imagesList.length != 0 ; else elseTemplate">
    <div style="width: auto !important; overflow: hidden; padding: 10px;">
        <img loading="lazy" [style]="'height: '+ height + ';width: '+ width" [@fadeInRight]="animateToRight" [@fadeInLeft]="animateToleft" class="mat-elevation-z1" src="{{env.imgBaseUrl}}{{imagesList[currentViewedImage]}}" onerror="this.src='../../../../assets/images/icons/image-not-found.png'">
    </div>
</ng-container>
<ng-template #elseTemplate>
    <div>
        <img loading="lazy" class="mat-elevation-z1" src="{{env.imgBaseUrl}}{{imagesList[0]}}" onerror="this.src='../../../../assets/images/icons/image-not-found.png'">
    </div>
</ng-template>

<div *ngIf="navs" class="d-flex align-items-center justify-content-center my-1" [style]=" 'margin-right:7px ;width: '+ width">
    <i class="fa fa-arrow-right m-1 fa-sm" (click)="nextImg()"></i><i class="fa fa-arrow-left fa-sm m-1" (click)="prevImg()"></i>
</div>